.fondo {
  height: 120px;
  max-width: 100%;
  background-image: url("/images/fondoReciclaje.jpg");
  background-color: green;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo {
  color: white;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
}

/*Banner principal. En esta seccion ira todo lo del que se repite en inicio, sobre nosotros, visión y misión*/
.banner-principal {
  height: 460px;
  max-width: 100%;
  background-color: white;
}

.titulo-dos {
  color: black;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.parrafo {
  text-align: center;
  font-style: italic;
  line-height: 20pt;
  font-size: 12pt;
  color: #222;
}

.parrafo .poema {
  margin-top: 60px;
}

/*Banner, */
.fondo-banner {
  height: 900px;
  max-width: 100%;
  background-image: url("/images/fondoReciclaje2.jpg");
  background-color: green;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-secundario {
  height: 500px;
  width: 100%;
  background-color: white;
  margin-top: 200px;
}

.contenedor {
  margin-top: 20px;
}

.color-blanco {
  color: white;
}

.carrusel-banner {
  flex-direction: column;
  height: 360px;
  width: 500px;
}

/*footer*/
footer {
  height: 160px;
  max-width: 100%;
}

.alinear {
  display: flex;
  flex-direction: row;
}

/*Se usa en el footer*/
.caja {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 33.3%;
  height: 160px;
}
/*Se usa en el footer*/
.caja2 {
  padding-top: 5px;
  text-align: center;
  width: 33.3%;
  height: 160px;
}
  /*Se usa en el footer*/
.caja2 a {
  text-decoration: none;
  color: white;
}

/*aqui va todo lo de registrarse*/

.caja-iniciar-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px;
  padding: 20px;
  width: 800px;
  height: 800px;
  background-color: green;
}

/*CSS para Iniciar sesion y pagina de contacto*/

.caja-contacto {
  margin: 40px;
  padding: 20px;
  width: 600px;
  height: 450px;
  background-color: green;
}

.banner-pequeño {
  height: 80px;
  max-width: 100%;
  background-color: white;
  display: inline;
}

.caja-iniciar-sesion {
  margin: 40px;
  padding: 20px;
  width: 600px;
  height: 400px;
  background-color: green;
}

input[type="submit"] {
  background: linear-gradient(#FFF, #FFF);
  border: 0;
  color: black;
  opacity: 0.8;
  cursor: pointer;
  font-family: Arial;
  border-radius: 20px;
  margin-bottom: 0;
}

  input[type="submit"]:hover {
    opacity: 1;
  }

  input[type="submit"]:active {
    transform: scale(0.95);
  }

@media (max-width:768px) {
  form {
    width: 100%;
  }
}

@media (max-width:480px) {
  form {
    width: 100%;
  }
}

.orange {
  background-color: #fd9742;
}

.banner-grande {
  height: 600px;
  width: 100%;
  background-color: white;
}
.banner-favoritos {
  height: 700px;
  width: 100%;
  background-color: white;
}
/*PERFIL*/

.caja-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
  width: 100%;
  height: 700px;
}

.avatar {
  background-color: blue;
  background-image: url("/images/perfil.jpg");
  background-position: center;
  background-size: cover;
  border: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid black;
  height: 200px;
  width: 200px;
}